@tailwind base;

/* A */
a {
    @apply text-teal-500;
    transition: color .1s linear;
}

a:hover {
    @apply text-teal-700;
}

/* BTN */
.btn {
    @apply inline-block py-4 px-8 mb-4  rounded text-teal-500;
    transition: all .1s linear;
}

.btn:hover {
    @apply text-teal-500;
}

.btn-default {
    @apply bg-gray-100;
}

.btn-default:hover {
    @apply bg-gray-200;
}


/* CARD */
.card {
    @apply p-5 m-5 shadow-lg bg-white rounded;
}


/* TABLE */
.table {
    width: 100%;
}
.table > thead > tr,
.table > tbody > tr {
    @apply border-b border-gray-300;
    transition: all .1s linear;
}

.table > tbody > tr:hover {
    @apply bg-gray-100;
}

.table th,
.table td {
    @apply py-4 px-8 text-gray-700;
    text-align:center;
}

.table th {
    @apply font-semibold;
}

.table td {
    @apply font-light;
}











@tailwind components;

@tailwind utilities;