@tailwind base;

/* A */
a {
    @apply text-teal-500;
    transition: color .1s linear;
}

a:hover {
    @apply text-teal-700;
}

/* BTN */
.btn {
    @apply inline-block py-4 px-8 mb-4  rounded text-teal-500;
    transition: all .1s linear;
}

.btn-xs {
    @apply p-1;
}

.btn:hover {
    @apply text-teal-500;
}

.btn-default {
    @apply bg-gray-100;
}

.btn-default:hover {
    @apply bg-gray-200;
}

.btn-danger {
    @apply bg-red-500 text-white;
}

.btn-danger:hover {
    @apply bg-red-600 text-white;
}

.btn-circle {
    @apply p-0 m-2 rounded-full h-10 w-10 flex items-center justify-center;
}


.btn:disabled {
    @apply bg-gray-100 text-gray-300;
}

.btn:disabled:hover {
    @apply bg-gray-100 text-gray-300;
    cursor:not-allowed;
}



/* CARD */
.card {
    @apply p-5 m-5 shadow-lg bg-white rounded;
}

.card .card-title {
    @apply mt-10;
}

.card .card-title h1 {
    @apply font-light text-2xl text-gray-500;
}

.card .card-title small {
    @apply font-light text-gray-500;
}




@tailwind components;

@tailwind utilities;